@use '../../../styles/variables' as *;

.logo {
  font-family: logo;
  text-transform: uppercase;
  font-size: 20px;
  position: relative;
  z-index: 11;
  @media screen and (min-width: $lg) {
    font-size: 32px;
  }
}
