.header {
    display: flex;
    align-items: center;
    background-color: transparent;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid black; 
    z-index: 900;
    position: relative;
}