.header {
  display: flex;
  background-color: transparent;
  padding: 1rem;
  position: fixed;
  z-index: 21;
  width: 100%;
  gap: 5rem;
  align-items: flex-end;
  justify-content: space-between;
  @media screen and (min-width: 1024px) {
    padding: 1rem 2rem;
  }
}
