.work {

    width: 100%;
    min-height: 90vh;
    align-items: center;
    display: flex;


    &__card {
      display: flex;
      gap: 2rem;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
   &_content {
    width: 100%;
   }
    
    }

    &__modal {
        display: block;
        width: 90%;
        height: 70svh;
        position: absolute;
        z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__none {
    display: none;
  }
    }
}

