@use "../../../styles/variables" as *;

.work {

    width: 100%;
    min-height: 90vh;
    align-items: center;
    display: flex;

    @media screen and (min-width:$lg) {
      margin: 0 auto;
      padding: 0 10rem;
    }

    &__card {

      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 2rem;
      gap: 2rem;

      @media screen and (min-width: $lg) {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Trois colonnes égales */
        gap: 10px; /* Espace entre les images */
  
      }
      
   &_content {
    width: 100%;
   }

   &_size {
    @media screen and (min-width: $lg) {
      width: 100%;
    }
   }
    
    }

    &__modal {
        display: block;
        width: 100%;
        position: absolute;
        z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: $lg) {
    width: 90%;
  }

  &__none {
    display: none;
  }
    }
}

