@use '../../../styles/variables' as *;

.imageModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background-color: white;
  padding: 1rem;
  position: relative;
  height: 90vh; /* 90% de la hauteur de la vue */
  overflow-y: auto;

  &__title {
    margin-top: 50px;
    @media screen and (min-width: $lg) {
      margin-top: 23px;
    }
  }

  &__img_container {
    display: flex;
    flex-direction: column;
    gap: 3px; /* Espace entre les images */
    margin-top: 30px;
    cursor: pointer;
    @media screen and (min-width: $lg) {
      display: grid;
      grid-template-columns: repeat(7, 1fr); /* Trois colonnes égales */
      grid-auto-rows: minmax(100px, auto);
    }
  }

  &__img {
    max-width: 100%;
 
    height: 100%;
    object-fit: cover;
  }

  &__video {
    flex: 3;
  }

  &__button {
    font-size: 60px;
    position: absolute;
    top: 0;
    left: 30px;
  }

  &__zoom {
  

    height: 100vh; /* Établissez la hauteur à 100vh pour couvrir toute la fenêtre */
    width: 100vw; /* Ajoutez la largeur à 100vw */
    position: fixed;
    top: 0;
  left: 0;
  z-index: 100;

    @media screen and (min-width: $lg) {
      width: 100%;
      height: 90vh;
      overflow-y: hidden;
    }

    &_img {

      object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; 
    @media screen and (min-width: $lg) {
      object-fit: contain;
    }
     
    }

    &_container {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &_left {
      position: absolute;
      top: 50%;
      left: 200px;
      transform: translate(-50%, -50%);
      color: white;
      z-index: 200;
      cursor: pointer;
    }

    &_right {
      position: absolute;
      top: 50%;
      cursor: pointer;
      right: 200px;
      transform: translate(-50%, -50%);
      color: white;
      z-index: 200;
    }
  }
}

.zoom {
  width: 100%;

  &__button_close {
    font-size: 60px;
    position: absolute;
    top: 0;
    color: white;
    left: 30px;
  }
}

.zoomed {
  overflow: hidden;
  overflow-y: hidden;
}

.fullscreen-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.fullscreen-modal-img {
  max-height: 100vh;
  object-fit: contain;
  cursor: pointer;
}
