.muxContainer {
  width: 100%;
  height: 100dvh;
  position: relative;
  overflow: hidden;

  .mux {
    width: 100%;
    height: 100dvh;
    --media-object-fit: cover;
    --media-object-position: center;
    --controls-backdrop-color: red;
  }
}
