.cards {
  width: 100%;
  height: auto;
  cursor: pointer;

  .subtitle {
    color: grey;
    font-size: 14px;
  }
}

.cards__video_container {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;

  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
  }
}
.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.muxx--no-controls::part(control-bar),
.muxx--no-controls::part(center-controls),
.muxx--no-controls::part(play-button),
.muxx--no-controls::part(button),
.muxx--no-controls::part(range),
.muxx--no-controls::part(top-controls),
.muxx--no-controls::part(timeline) {
  display: none !important;
  pointer-events: none !important;
}
