@use '../../../styles/variables' as *;

.photos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: $lg) {
    margin: 0 auto;
    width: 1200px;
  }

  &__card {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    margin-top: 56.5px;
    @media screen and (min-width: $lg) {
      padding: 4rem;
      gap: 2rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 71px;
    }

    &_content {
      object-fit: cover;
      height: 300px;
      width: 100%;

      @media screen and (min-width: $lg) {
        width: 300px;
      }
    }

    &_size {
      @media screen and (min-width: $lg) {
        width: 100%;
      }
    }
  }

  &__modal {
    display: block;
    width: 90%;
    position: absolute;
    z-index: 22;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__none {
      display: none;
    }
  }
}
