@use '../../../styles/variables' as *;

.modal {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 900;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: $lg) {
    display: flex;
    color: black;
    overflow-y: auto;
    height: 100%;

    padding: 2rem;
    width: 70%;
  }

  &__video {
    background: transparent;
    padding: 0 1rem;
    @media screen and (min-width: $lg) {
      padding: 0;
    }
  }

  &__video_vid {
    width: 100%;
    object-fit: contain;
    height: 100%;
    @media screen and (min-width: $lg) {
    }
  }

  &__button {
    font-size: 60px;
    background-color: transparent;
    @media screen and (min-width: $lg) {
      left: 40px;
      font-size: 60px;
      top: 32px;
      position: absolute;
      z-index: 3;
    }
  }
}
