@use '../components/layouts/header/Header.scss' as *;
@use '../components/atoms/title/Title.scss' as *;
@use '../components/atoms/loader/Loader.scss' as *;
@use '../components/atoms/logo/Logo.scss' as *;
@use '../components/atoms/buttons/defaultButton/DefaultButton.scss' as *;
@use '../components/atoms/buttons/closeButton/CloseButton.scss' as *;
@use '../components/atoms/backdrop/Backdrop.scss' as *;
@use '../components/molecules/navbar/Navbar.scss' as *;
@use '../components/molecules/cards/Cards.scss' as *;
@use '../components/molecules/modal/Modal.scss' as *;
@use '../components/molecules/imageModal/ImageModal.scss' as *;
@use '../components/molecules/imgZoomModal/ImgZoomModal.scss' as *;
@use '../components/templates/Homepage/Homepage.scss' as *;
@use '../components/templates/contact/ContactTemplate.scss' as *;
@use '../components/templates/photos/Photos.scss' as *;
@use './variables' as *;

@font-face {
  font-family: boldFont;
  src: url('../fonts/MontserratBold-p781R.otf');
}
@font-face {
  font-family: mediumFont;
  src: url('../fonts/MontserratMedium-lgZ6e.otf');
}
@font-face {
  font-family: lightFont;
  src: url('../fonts/MontserratLight-6YemM.otf');
}
@font-face {
  font-family: thinFont;
  src: url('../fonts/MontserratThin-MVY6x.otf');
}
@font-face {
  font-family: logo;
  src: url('../fonts/MontserratBlack-ZVK6J.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: boldFont;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* couleur d'arrière-plan semi-transparente */
  z-index: 1; /* assure que l'overlay est au-dessus du reste du contenu */
}

.yellow-text {
  color: $yellow;
}

a {
  text-decoration: none;
}
