.model {
  position: relative;
  @media screen and (min-width: 1024px) {
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 200px;
  }
}

.containerCards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100dvh;
  justify-content: center;
  padding: 1rem;
  @media screen and (min-width: 1024px) {
    gap: 0;
    display: grid;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 3rem;
  }
}
