#slider {
    position: relative;
    
    width: 100%;
}

#left {
    position: absolute;
    top: 50%;
    left: 2%;
    background: transparent;
    border: none;
    cursor: pointer;
}
#right {
    position: absolute;
    top: 50%;
    right: 2%;
    background: transparent;
    border: none;
cursor: pointer;

}

.fa-chevron-right {
    font-size: 1.5rem;
    color: white;
}

.fa-chevron-left {
    font-size: 1.5rem;
    color: white;
}

.img-play-button-container {
    margin-top: 10px;
}

.img-slider {
    width: 100%;
  height: 715px;
  object-fit: cover;
}

.title-header {
  
    color: white;
  
    font-size: 50px;
}

.p-slider {
    color: white;
    font-size: 20px;
}


  
  .img-play-button {
    width: 50px;
   
    border: 1px solid white;
  
    
    padding: 0.5rem;
    border-radius: 100%;
 
  }


  .text-slider-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 58%;
    left: 4%;
  }


@media screen and (max-width: 768px) {
     #slider {
        display: none;
     }

     .logo-container {
        text-align: center;
     }
}