@use '../../../styles/variables' as *;

.intro {
  left: 0;
  width: 100%;
  height: 100dvh;
  color: rgb(255, 255, 255);

  .video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh !important;
    background-color: black;
    object-fit: cover;
  }
}
